@charset "UTF-8";

body{
  text-align: center;
  background-color:#000000;
  background-image: url("GEEK.png");
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  
  color: #ff0000;
  font-family:Impact, sans-serif;
}
h2{
    
  color: #ff0000;
  font-style:italic;
}
li{
  color: #ffffff;
}
ul{
  color: #ffffff;
}
