@charset "UTF-8";

body{
  background-color:#e0ffff;
background-image: url("Pk2BO8.jpg");
  background-repeat:norepeat;
  background-attachment: fixed;
}

h1{
color: #ff0000;
font-family:Impact, sans-serif;
}
h2{
color: #ff0000;
  font-style:italic;
}
p{
  padding:0px 10px 5px 10px;
  line-height: 150%;
  color:#ff0000;
