@charset "UTF-8";

body{
  background-color:#000000;
  background-image: url("GEEK.png");
  background-repeat: no-repeat;
  background-position: center;
}

#header{
  margin-top: 2em;
  text-align: center;
}

#main{
  float: left;
}
#side{
  width: 300px;
  float: right;
  height: 500px;
  }

h1{
  color: #ff0000;
  font-family:Impact, sans-serif;
}
h2{ 
  color: #ff0000;
  font-style:italic;
}
li{
  list-style-type: &#9827
  color: #ffffff;
}
ul{
  color: #ffffff;
}
